<div class="container">
  <div class="jumbotron">
  <h1>Nickipedia</h1>
  <p>A Wikipedia-style Rails application</p>
  </div>


  <div class="row">
    <div class="col-md-4">
      <h2>It's kinda like Wikipedia</h2>
      <p>Nickipedia is really good. Money back guarantee.</p>
    </div>
    <div class="col-md-4">
      <h2>It's amazing.</h2>
      <p>Nickipedia is the best Reddit clone.</p>
    </div>
    <div class="col-md-4">
      <h2>Makes you better looking</h2>
      <p>Nickipediare will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
    </div>
  </div>