 <h1><%= markdown @page.title %></h1> 
  <% if policy(@page).edit? %>
  <%= link_to "Edit", edit_page_path, class: 'btn btn-succcess' %>
  <% end %>

  <div class="row">
    <div class="col-md-8">
  <p><%= markdown @page.body %></p>
    </div>